<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pizza Hot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="navigationBarre">
    <ion-button routerLink="/pizzas">
      <ion-icon name="pizza" slot="start"></ion-icon>
      <ion-label>Notre carte de Pizzas</ion-label>
    </ion-button>

    <ion-button routerLink="/panier">
      <ion-icon name="basket" slot="start"></ion-icon>
      <ion-label>Mon Panier</ion-label>
    </ion-button>

    <ion-button routerLink="/admin">
      <ion-icon name="construct" slot="start"></ion-icon>
      <ion-label>Administrateur</ion-label>
    </ion-button>
  </div>

  <p>LEADER DE LA PIZZA LIVRÉE ET À EMPORTER
    Pour les amateurs inconditionnels de pizzas classiques, nos pizzaïolos vous proposent bien évidemment une gamme gourmande de pizza...<br /><br />
    Venez découvrir nos pizzas !
  </p>
  <!-- <img src="../../../resources/images/pizza.jpg" /> -->
  <div class="imagePizza"></div>
</ion-content>
